fastapi[standard]
uvicorn[standard]

valkey
asyncpg
sqlalchemy

aiosmtplib
openpyxl
pydantic
pydantic_settings

pyjwt
bcrypt==4.3.0
python-jose

aioboto3

pytest
pytest-asyncio
pytest-mock
pytest-cov
aiosqlite