BACKUP_DIR="./data/backups"

KEEP_DAYS=30

DB_CONTAINER="oc-postgresql"
DB_USER="olympia"
DB_NAME="olympia_custom"

BACKUP_S3_BUCKET=""
BACKUP_S3_ACCESS_KEY_ID=""
BACKUP_S3_SECRET_ACCESS_KEY=""
S3_REGION="ap-southeast-1"
S3_ENDPOINT_URL=""
